#bigwrap {
  text-align: center;
  width: 550px;
  font-size: 135%;
  margin-left: auto;
  margin-right: auto;
}

#ballonwrap {
  height: 420px;
}

#ballon {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  display:block;
}

#lastround, #press, #collect, #total {
  padding-top: 10px;
  color: #333;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: auto;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

#collect, #lastround, #total {
  display: table;
  width: 100%;
}

#collect_term, #collect_value, #total_term, #total_value, #lastround_term, #lastround_value {
  display: table-cell;
  width: 50%;
}

#collect_term, #lastround_term, #total_term {
  text-align: left;
}


#press, #collect {
  cursor: pointer;
  background: #ddd;
}

#press:hover, #collect:hover {
  background-color: #c2c2c2;
  border-color: #888;
  box-shadow: 0 0 2px #ccc;
}

#press:active, #collect:active {
  vertical-align: -1px;
}
