#bigwrap {
  text-align: center;
  width: 550px;
  font-size: 135%;
  margin-left: auto;
  margin-right: auto;
}

#ballonwrap {
  height: 420px;
  border: solid black 1px;
  border-radius: 5px;
}

#ballon {
  height: 140px;
  width: 140px;
  margin-bottom: -380px;
}

#lastround, #total, #collect {
  display: table;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #333;
  border-radius: 5px;
  text-align: center;
}

#press {
  font-size:120%;
  width: 100%;
}

#collect_term, #collect_value, #total_term, #total_value, #lastround_term, #lastround_value {
  display: table-cell;
  width: 50%;
}

#collect_term, #lastround_term, #total_term {
  text-align: right;
}

#press, #collect {
  cursor: pointer;
  background: #ddd;
}

#press:hover, #collect:hover {
  background-color: #c2c2c2;
}
